.button {
	position: relative;
	outline: none;
	box-shadow: none;
	overflow: hidden;

	transition: all 0.3s ease-in-out;
	cursor: pointer;
	pointer-events: all;

	padding: 12px 20px;
	border-radius: 8px;
}
.button > * {
	z-index: 1;
}

.button:hover {
	background: rgba(0,0,0,0.5);
}
.button.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
.button.disabled:hover {
	background: var(--color-green);
}
.button.bordered:hover {
	background: unset;
}
.button.bordered::before {
	content: "";
	position: absolute;
	inset: 0px;

	background: currentColor;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;

	z-index: 0;
}
.button.bordered:hover:not(.disabled)::before {
	opacity: 0.1;
}

/* Variants */

/* Default */
.button.default {
	background: var(--color-green);
	color: var(--color-background);
	border: none;
}
.button.default:hover:not(.disabled) {
	background-color: var(--color-orange);
}

/* Simple */
.button.simple {
	color: currentColor;
	border: 1px solid var(--color-background-light);
	background: transparent;
}

/* Contrast */
.button.contrast {
	background: var(--color-background);
}
.button.contrast:hover:not(.disabled) {
	background: var(--color-background-light);
}

/* Navigation */
.button.navigation {
	background: var(--color-background-darkest);
}
.button.navigation.active,
.button.navigation:active,
.button.navigation:hover:not(.disabled) {
	background: var(--color-background);
}

/* Text */
.button.text {
	background: transparent;
	padding: 0px;
	width: max-content;
	border-radius: 0px;
}
.button.text:hover:not(.disabled),
.button.text:hover:not(.disabled) > * {
	color: var(--color-green);
}
.button.text:active {
	color: var(--color-green-dark);
}

/* Text Branded */
.button.text-branded {
	background: transparent;
	color: var(--color-green);
	padding: 0px;
}
.button.text-branded:hover:not(.disabled) {
	color: var(--color-bitcoin);
}
.button.text-branded:active {
	color: var(--color-bitcoin-dark);
}

/* Other Settings */
.button.bordered {
	border: 1px solid currentColor;
}
.button.icon {
	width: calc(1em + 24px);
	height: calc(1em + 24px);
	padding: 0px;
	border-radius: 4px;
}
.button.icon img,
.button.icon svg {
	width: auto;
	height: calc(1em + 4px);
}

.button svg {
	margin: -50% 0;
}


